In [52]:
import pandas as pd
import datetime as dt

In [53]:
data = pd.read_csv('data.csv')

## County Selection

In [54]:
# number of dates included in the data
print(len(list(data.date.unique())))

# start and end date
print(data.date.min())
print(data.date.max())

# number of dates each county has on record
county_date = data.groupby(['state', 'county']).count().loc[:, ['date']].sort_values(
    by = 'date', ascending = False).reset_index().rename(columns = {'date':'num_date'})

# number of days between a county's first and last report of cases
report_date = data.groupby(['county', 'state'])['date'].min().reset_index().rename(
    columns = {'date':'start'}).merge(data.groupby(['county', 'state'])['date'].max().reset_index().rename(
    columns = {'date':'end'}), on =['county', 'state'])

report_date['start'] = pd.to_datetime(report_date['start'], format='%Y-%m-%d')
report_date['end'] = pd.to_datetime(report_date['end'], format='%Y-%m-%d')

report_date['days'] = (report_date['end'] - report_date['start']).dt.days + 1

# identify any potential gaps in reporting frequency
    # in other words, whether a county missed reporting for certain dates

freq_df = report_date.loc[:, ['county', 'state', 'days']].merge(county_date, on = ['county', 'state'])
freq_df['frequency'] = freq_df['num_date'] / freq_df['days']

freq_df.sort_values(by = 'frequency').head(10)

# suggest dropping county Lewis in state Idaho since the reporting frequency is below 80%
# for most counties, reporting frequency ~100%
# determination of whether to drop a county or not will depend on (subject to changes):
    # (1) the date when training starts
    # (2) the number of missing (important) features

319
2020-01-21
2020-12-04

           county           state  days  num_date  frequency
1685        Lewis           Idaho   152       118   0.776316
3109      Wheeler        Nebraska   133       124   0.932331
1536    Keya Paha        Nebraska   109       102   0.935780
541         Clark           Idaho   139       133   0.956835
849         Dundy        Nebraska   141       137   0.971631
2513  Roger Mills        Oklahoma   148       144   0.972973
1747        Logan    North Dakota   150       147   0.980000
2679        Sioux        Nebraska   177       176   0.994350
0       Abbeville  South Carolina   261       261   1.000000
2143  Northampton  North Carolina   255       255   1.000000

In [55]:
# dropping county Lewis in Idaho
data = data[-((data['county'] == 'Lewis') & (data['state'] == 'Idaho'))]

## Data Inspection - Erica

In [56]:
sub_data = data.iloc[:, :57]
sub_data['entity'] = sub_data['state'] + '-' + sub_data['county']

In [57]:
# number of NAs for each column
num_na_df = sub_data.isna().sum().reset_index().rename(
    columns = {'index':'col', 0:'num_na'}).sort_values(by = 'num_na')

# columns with NAs
num_na_df = num_na_df[num_na_df['num_na'] != 0]
num_na_df

                                                col  num_na
3                                              fips     163
5                                            deaths   16655
49                      percent_children_in_poverty   17835
48                           percent_unemployed_CHR   17835
47                                      labor_force   17835
46                               num_unemployed_CHR   17835
45                             percent_some_college   17835
44                                       population   17835
43                                 num_some_college   17835
32                                percent_uninsured   17835
56                                 num_associations   17835
24                       percent_excessive_drinking   17835
22                      percent_physically_inactive   17835
31                                    num_uninsured   17835
15                      percent_fair_or_poor_health   17835
20                      percent_adults_with_obesity   17835
10                                 total_population   17835
9                                               lon   17835
8                                               lat   17835
11                                        area_sqmi   17835
16      average_number_of_physically_unhealthy_days   17835
12                      population_density_per_sqmi   17835
19                                  percent_smokers   17835
17        average_number_of_mentally_unhealthy_days   17835
54                               num_households_CHR   17853
53                 num_single_parent_households_CHR   17853
55             percent_single_parent_households_CHR   17853
52                                     income_ratio   18326
51                      twentieth_percentile_income   18326
50                      eightieth_percentile_income   18326
23    percent_with_access_to_exercise_opportunities   18701
41                               percent_vaccinated   20649
40                    percent_with_annual_mammogram   20804
21                           food_environment_index   22449
27  percent_driving_deaths_with_alcohol_involvement   24107
26                               num_driving_deaths   24107
25              num_alcohol_impaired_driving_deaths   24107
39                 preventable_hospitalization_rate   25000
18                          percent_low_birthweight   35382
42                      high_school_graduation_rate   37113
36                                     dentist_rate   38665
35                                     num_dentists   38665
30                                  teen_birth_rate   45172
29                                   chlamydia_rate   45401
28                              num_chlamydia_cases   45401
34                     primary_care_physicians_rate   51047
33                      num_primary_care_physicians   51561
38                      mental_health_provider_rate   67855
37                      num_mental_health_providers   67855
14                years_of_potential_life_lost_rate   74290
13                                       num_deaths   74290

In [58]:
def static_check(df):
    non_static = []
    for i in df.entity.unique():
        entity_df = df[df['entity'] == i]
        for j in entity_df.columns.difference(['entity']):
            num_unique = len(entity_df[j].unique())
            if num_unique != 1:
                non_static.append([i, j])
    return non_static

In [59]:
# columns with NA values
    # remove fips since it is just a unique identifier of county
    # remove deaths because it is highly dependent on cases and thus should not be used as a predictor
na_cols = num_na_df[-num_na_df['col'].isin(['fips', 'deaths'])].col.to_list()

# checking whether columns with missing vals are static or time series
# use this to determine the 'location' of NA values
    # missing certain dates of a county
    # or missing for the county across dates
static_check(sub_data.loc[:, ['entity'] + na_cols])

[]

In [60]:
# features with missing values are all static
df = sub_data.loc[:, ['entity'] + na_cols].drop_duplicates()

county_na = []
for i in df.entity:
    feature_df = df[df['entity'] == i]
    na_feature_num = feature_df.isna().sum(axis = 1).to_list()[0]
    county_na.append([i, na_feature_num])

In [87]:
# number of missing features by entity
t = pd.DataFrame(county_na, columns = ['entity', 'na_num']).sort_values(by = 'na_num', ascending = False)
print(t[t['na_num'] >= 20])
drop_county = t[t['na_num'] >= 20].entity.to_list()
print(drop_county)

# suggest removing 84 counties with 49 missing features with the first 57
df = sub_data.loc[-sub_data['entity'].isin(drop_county), ['entity'] + na_cols].drop_duplicates()

                    entity  na_num
2888    Puerto Rico-Gurabo      49
2904  Puerto Rico-Mayaguez      49
2912     Puerto Rico-Ponce      49
2911  Puerto Rico-Penuelas      49
2910  Puerto Rico-Patillas      49
...                    ...     ...
2879   Puerto Rico-Comerio      49
2878     Puerto Rico-Coamo      49
2877     Puerto Rico-Cidra      49
2876    Puerto Rico-Ciales      49
2875     Puerto Rico-Ceiba      49

[84 rows x 2 columns]
['Puerto Rico-Gurabo', 'Puerto Rico-Mayaguez', 'Puerto Rico-Ponce', 'Puerto Rico-Penuelas', 'Puerto Rico-Patillas', 'Puerto Rico-Orocovis', 'Puerto Rico-Naranjito', 'Puerto Rico-Naguabo', 'Puerto Rico-Morovis', 'Puerto Rico-Moca', 'Puerto Rico-Maunabo', 'Puerto Rico-Rincon', 'Puerto Rico-Manati', 'Puerto Rico-Luquillo', 'Puerto Rico-Loiza', 'Puerto Rico-Las Piedras', 'Puerto Rico-Las Marias', 'Northern Mariana Islands-Saipan', 'Northern Mariana Islands-Tinian', 'Puerto Rico-Lares', 'Puerto Rico-Quebradillas', 'Puerto Rico-Rio Grande', 'Missouri-Joplin', 'Puerto Rico-Utuado', 'Puerto Rico-Culebra', 'Puerto Rico-Maricao', 'Puerto Rico-Vieques', 'Puerto Rico-Yauco', 'Puerto Rico-Yabucoa', 'Puerto Rico-Villalba', 'Puerto Rico-Vega Baja', 'Puerto Rico-Vega Alta', 'Puerto Rico-Trujillo Alto', 'Puerto Rico-Sabana Grande', 'Puerto Rico-Toa Baja', 'Puerto Rico-Toa Alta', 'Puerto Rico-Santa Isabel', 'Puerto Rico-San Sebastian', 'Puerto Rico-San Lorenzo', 'Puerto Rico-San Juan', 'Puerto Rico-San German', 'Puerto Rico-Salinas', 'Puerto Rico-Lajas', 'Puerto Rico-Juncos', 'Puerto Rico-Juana Diaz', 'Puerto Rico-Carolina', 'Puerto Rico-Camuy', 'Puerto Rico-Caguas', 'Puerto Rico-Cabo Rojo', 'Puerto Rico-Bayamon', 'Puerto Rico-Barranquitas', 'Puerto Rico-Barceloneta', 'Puerto Rico-Arroyo', 'Puerto Rico-Arecibo', 'Puerto Rico-Anasco', 'Puerto Rico-Aibonito', 'Puerto Rico-Aguas Buenas', 'Puerto Rico-Aguadilla', 'Puerto Rico-Aguada', 'Puerto Rico-Adjuntas', 'Virgin Islands-St. Thomas', 'Virgin Islands-St. John', 'Virgin Islands-St. Croix', 'Puerto Rico-Jayuya', 'Puerto Rico-Canovanas', 'Puerto Rico-Catano', 'Puerto Rico-Florida', 'Puerto Rico-Isabela', 'Puerto Rico-Humacao', 'Puerto Rico-Hormigueros', 'Puerto Rico-Hatillo', 'Puerto Rico-Guaynabo', 'Puerto Rico-Guayanilla', 'Puerto Rico-Guayama', 'Puerto Rico-Cayey', 'Puerto Rico-Guanica', 'Puerto Rico-Fajardo', 'Puerto Rico-Dorado', 'Puerto Rico-Corozal', 'Puerto Rico-Comerio', 'Puerto Rico-Coamo', 'Puerto Rico-Cidra', 'Puerto Rico-Ciales', 'Puerto Rico-Ceiba']

In [77]:
feature_na = []
for i in df.columns.difference(['entity']):
    feature_df = df.loc[:, ['entity', i]]
    na_num = len(feature_df[feature_df[i].isna()].entity.to_list())
    feature_na.append([i, na_num])

In [86]:
# number of missing entity by feature
t = pd.DataFrame(feature_na, columns = ['feature', 'na_num']).sort_values(by = 'na_num', ascending = False)
t['percent_na_county'] = t['na_num'] / df.shape[0]
t[t['percent_na_county'] != 0]

# do not suggest removing any feature at this point given that the number of missing county is <10%
# also some information, like percent_vaccinated, may be found elsewhere

                                            feature  na_num  percent_na_county
48                years_of_potential_life_lost_rate     289           0.092185
16                                       num_deaths     289           0.092185
20                      num_mental_health_providers     230           0.073365
12                      mental_health_provider_rate     230           0.073365
45                                  teen_birth_rate     153           0.048804
3                                    chlamydia_rate     149           0.047528
15                              num_chlamydia_cases     149           0.047528
21                      num_primary_care_physicians     148           0.047209
44                     primary_care_physicians_rate     146           0.046571
31                          percent_low_birthweight     104           0.033174
7                       high_school_graduation_rate      94           0.029984
17                                     num_dentists      88           0.028070
4                                      dentist_rate      88           0.028070
43                 preventable_hospitalization_rate      40           0.012759
28  percent_driving_deaths_with_alcohol_involvement      32           0.010207
13              num_alcohol_impaired_driving_deaths      32           0.010207
18                               num_driving_deaths      32           0.010207
6                            food_environment_index      19           0.006061
40                    percent_with_annual_mammogram      16           0.005104
38                               percent_vaccinated      15           0.004785
39    percent_with_access_to_exercise_opportunities       5           0.001595
47                      twentieth_percentile_income       2           0.000638
5                       eightieth_percentile_income       2           0.000638
8                                      income_ratio       2           0.000638
22                 num_single_parent_households_CHR       1           0.000319
19                               num_households_CHR       1           0.000319
33             percent_single_parent_households_CHR       1           0.000319